@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Diphylleia&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Diphylleia&family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
   
  }
  
  .content{
    /*max-width: 500px;*/
    /*margin: auto;*/
    align-content: center;
  }
  
  body{
    color: #000000;
    background-image: url('header-gradient.svg'),url('footer-gradient.svg') ;
    background-position: top,bottom;
    background-repeat:no-repeat;
     
  }
  
  #header{
    width: 100%;
/*     height: 100vh; */
    background-size: cover;
    background-position: center;
    justify-content: center;
  }
  .container{
    padding: 5px 19%;
  }
  nav{
    justify-content: center;
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    margin-top: 15px;
    margin-left: 10px;
   /* margin-right: 50%; */
    position: fixed;
    z-index: 1;
    /*float: left;*/
  }
  .floatingNav{
  box-shadow: 0px 1px 10px #999;
  }

  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
  }

  nav ul li a{
    color:#000000c8;
    text-decoration: none;
    font-family: 'Diphylleia';
    font-weight: bold;
    font-size: 18px;
    position: relative;
    width: 200px;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    margin-right: 0px;
  }
  a{
  text-decoration-line: none;
  }
  .Logo{
    background: rgb(237,81,81);
    background: linear-gradient(90deg, rgba(224, 60, 128, 0.863) 25%, rgba(150, 15, 173, 0.706) 50%,
    rgba(111,239,223,0.7289040616246498) 75%, rgba(0,212,255,1) 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-family: 'Great Vibes',cursive;
   font-size: 25px;
   font-weight: bold;
   padding-left: 20px;
   padding-right: 10px;
  }
  nav ul li a:hover{
  color:rgb(233, 97, 217) ;
  }
  nav ul li a.active{
  color:rgb(94, 9, 117) ;
  }
  .menu_btn input[type="checkbox"] {
    display: none;
  }
  .heading{
    text-align: center;
    margin-top: 100px;
    background: -webkit-linear-gradient(180deg, rgba(127,249,241,0.8633578431372549) 12%, rgba(237,87,209,1) 29%, rgba(234,40,103,0.7064950980392157) 47%, rgba(126,111,239,0.7289040616246498) 67%, rgba(250,255,0,1) 84%, rgba(128,0,255,1) 100%, rgba(15,205,244,1) 100%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
  .myimage{
    height: 300px;
    width: 300px;
    border-radius: 200px;
    margin-left: 40%;
    margin-top: 5%;
    border : 3px solid  rgb(255, 235, 238);
  }
  
.about_container{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  font-size: 20px;
  /* font-family:'Times New Roman', Times, serif; */
 
}
.about_para{
  width: 500px;
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: 'Diphylleia', serif;
  color: rgba(20, 20, 20, 0.822);
  font-weight: bold;
  font-size: large;
  text-align: center;
}
.about_container span{
  margin-top: 20px;
  text-align: center;
  font-weight: bolder;
  /* margin-top: 50px; */
  margin-bottom: 50px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
}

@media(max-width:400px){
  html,body{
    overflow-x: hidden;
  }
  .container{
    padding: 5px 9%; /*10*/
  }
  nav{
    width:300px;
  }
  
  .menu_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
  .menu_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* margin-left: 35px; */
}
  .menu_hamburger{
    width: 20px;
    height: 2px;
    background-color:#8e08a0;
    border-radius: 5px;
    z-index: 10;
    transition: all .5s ease;
    /* margin-left: 35px; */
  }
  .menu_hamburger::before,
  .menu_hamburger::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #8e08a0;
    border-radius: 5px;
    transition: all .5s ease;
}

  .menu_hamburger::before{
      transform: translateY(-6px);
  }

  .menu_hamburger::after{
      transform: translateY(6px);
  }
  .menu_items{
    /* display: none; */
    background:  #ffffff;
    color: #3c0b43;
    position: absolute;
    margin-left: 10%;
    padding: 5px 10%;
    /* left: 100%; */
    left: 200%;
    padding-top: 40px;
    top: 0;
    transition: all .5s ease-in-out;
}
.menu_items li{
  padding: 10px 0;
  text-align: center;
  list-style-type: none;
  transition: all .2s ease;
}

/* .menu_items li:hover{
  letter-spacing: 2px;
  opacity: .6;
} */
.menu_btn input:checked ~.menu_hamburger{
  transform: translateX(-50px);
  background: transparent;
}

.menu_btn input:checked ~.menu_hamburger::before{
  transform: rotate(45deg) translate(35px, -35px);
}

 .menu_btn input:checked ~.menu_hamburger::after{
  transform: rotate(-45deg) translate(35px, 35px);
} 

.menu_btn input:checked ~.menu_items{
  left: 40%;
  /* left: 30%; */
}
.menu_btn input{
  display: none;
}
.container2{
  padding: 5px;
}
.myimage{
  margin: 0 auto;
  height: 200px;
  width: 200px;
  margin-left: 25%;
  margin-top: 10px; 
}
.about_para{
  width: 350px;
}
.about_container span{
  font-size: 18px;/*20*/
}
}
