@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Diphylleia&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Diphylleia&family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
   
  }
  
  .content{
    /*max-width: 500px;*/
    /*margin: auto;*/
    align-content: center;
  }
  
  body{
    color: #000000;
    background-image: url('header-gradient.svg'),url('footer-gradient.svg') ;
    background-position: top,bottom;
    background-repeat:no-repeat;
     
  }
  
  #header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
  }
  .container{
    padding: 5px 19%;
  }
  nav{
    justify-content: center;
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    margin-top: 15px;
    margin-left: 10px;
   /* margin-right: 50%; */
    position: fixed;
    z-index: 1;
    /*float: left;*/
  }
  .floatingNav{
  box-shadow: 0px 1px 10px #999;
  }

  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
  }

  nav ul li a{
    color:#000000c8;
    text-decoration: none;
    font-family: 'Diphylleia';
    font-weight: bold;
    font-size: 18px;
    position: relative;
    width: 200px;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    margin-right: 0px;
  }
  a{
  text-decoration-line: none;
  }
  .Logo{
    background: rgb(237,81,81);
    background: linear-gradient(90deg, rgba(224, 60, 128, 0.863) 25%, rgba(150, 15, 173, 0.706) 50%,
    rgba(111,239,223,0.7289040616246498) 75%, rgba(0,212,255,1) 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-family: 'Great Vibes',cursive;
   font-size: 25px;
   font-weight: bold;
   padding-left: 20px;
   padding-right: 10px;
  }
  nav ul li a:hover{
  color:rgb(233, 97, 217) ;
  }
  nav ul li a.active{
  color:rgb(94, 9, 117) ;
  }
  .menu_btn input[type="checkbox"] {
    display: none;
  }
  .header-text{
    margin-top: 13%;
    font-size: 20px;
    justify-content: center;
    text-align: left;
    padding-left: 20%;
  }
  .container2{
    height: 50px;
    padding: 15px;
  }
  .header-text h1{
    font-size: 30px;
    font-family: 'Great Vibes',cursive;
  }
  
  #animate-charcter{
  background-image: linear-gradient(-225deg,#e43075,#cf23cf, #eedd44,#ff448f, #7a0e5c);
  /* background-size: auto auto;
  background-clip: border-box; */
  background-size: 200% auto;
  font-family: 'Great Vibes',cursive;
  font-size: 40px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  }
  
  @keyframes textclip {
  to {
    background-position: 200% center;
  }
  }
  
  .header-text p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 18px;
  }
  .img1{
    height: 300px;
    width: 300px;
    border-radius: 200px;
    float: right;
    margin-right: 200px;
    margin-left: 50px;
    margin-top: -10%;
    border : 3px solid  rgb(255, 235, 238);
    rotate: 20deg;
  }
  .shape {
  animation: morph 15s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  z-index: 5;
  }
  
  @keyframes morph {
  0% {
      border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
      box-shadow: 10px 0px 10px 5px #e27fcb;
  }
  
  50% {
      border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
      box-shadow: 0px 10px 10px 5px #c17fe2;
  }
  
  100% {
    border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    box-shadow: 0px -10px 10px 5px rgb(255, 184, 209);
  }
  }
  #wrapper {
  display: table;
  width:100%;
  height:100%;
  }
  
  #wrapper-inner {
  display: table-cell;
  vertical-align:middle;
  width:100%;
  height:100%;
  }
  
  #scroll-down {
    display: block;
    position: relative;
    padding-top: 79px;
    margin-top: -150px;
  }
  
  .arrow-down{
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
  }
  .arrow-down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid  #9f10a7;
    border-right: 2px solid #9f10a7;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  #scroll-down::before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */
   
    -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */
   
    -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */
   
    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */
   
    position: absolute;
    top: 33%;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 50px;
    background:  #9f10a7;
    content: ' ';
  }
  @-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
  }
  @-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
  }
  @-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
  }
  @keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
  }
  
  #ex{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px;
  }
  #ex-about{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 40px;
  }
  #ex-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 60px;
  }
  
  .vertical {
  /* Use a linear gradient for the background */
  background: linear-gradient(180deg, transparent, #adcc12, transparent);
  /* Use a linear gradient for the border */
  border-image: linear-gradient(to bottom, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00) 1;
  /* Add other styles */
  margin-top: 50px;
  border-left: 3px solid;
  border-radius: 2px;
  height: 1400px;
  position: absolute;
  left: 50%;
  }
  .web-dev-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 400px;
    width: 300px;
    margin-left: 23%;
    margin-top: 5%;
    transition: box-shadow 0.5s, transform 0.5s;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
  
  }
  
  .web-dev-heading {
    font-family: 'Deca', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #971d84;
    margin-bottom: 10px;
  }
  
  .web-dev-description {
    font-size: 16px;
    font-family: 'Diphylleia', serif;
    font-weight: normal;
    color: #111010;
    margin-bottom: 20px;
  }
  
  .web-dev-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .web-dev-skill {
    font-size: 12px;
    font-weight: bold;
    color: #89068e;
    background: linear-gradient(to bottom, #dcfaf5, #f9a7f9);
    border-radius: 20px;
    padding: 6px 12px;
    margin-right: 10px;
  }
  
  .web-dev-container:hover {
    border-radius: 1.4rem;
    /* box-shadow: 0 5px 10px rgba(0,0,0,0.2); */
    background: linear-gradient(to top right, #ffeff7, #f0f6fe);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    transform: translateX(-2px);
  }
  
  .python-dev-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 400px;
    width: 300px;
    margin-top: 5%;
    transition: box-shadow 0.5s, transform 0.5s;
    margin-left: 53.5%;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
   
  }
  
  .python-dev-container:hover {
    border-radius: 1.4rem;
    background: linear-gradient(to top right, #ffebfe, #e5f0ff);
    /* box-shadow: 0 5px 10px rgba(0,0,0,0.2); */
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    transform: translateX(-2px);
  }
  
  .python-dev-heading {
    font-family: 'Deca', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #7b24cc;
    margin-bottom: 10px;
  }
  
  .python-dev-description {
    font-size: 16px;
    font-family: 'Diphylleia', serif;
    font-weight: normal;
    color: #0e0d0d;
    margin-bottom: 20px;
   
  }
  
  .mysql-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 400px;
    width: 300px;
    margin-top: 5%;
    transition: box-shadow 0.5s, transform 0.5s;
    margin-left: 23%;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
   
  }
  
  .mysql-container:hover {
    border-radius: 1.4rem;
    background: linear-gradient(to top right,#ffeae8,#ffebfe);
    /* box-shadow: 0 5px 10px rgba(0,0,0,0.2); */
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    transform: translateX(-2px);
  }
  
  .mysql-heading {
    font-family: 'Deca', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 41, 41);
    margin-bottom: 10px;
  }
  .mysql-description {
    font-size: 16px;
    font-family: 'Diphylleia', serif;
    font-weight: normal;
    color: #0c0c0c;
    margin-bottom: 20px;
   
  }
  .mysql-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mysql-skill {
    font-size: 12px;
    font-weight: bold;
    color: #910a0a;
    background:  #fdb8b8;
    border-radius: 20px;
    padding: 6px 12px;
    margin-right: 10px;
  }
  
.heading{
    text-align: center;
    margin-top: 100px;
    background: -webkit-linear-gradient(180deg, rgba(127,249,241,0.8633578431372549) 12%, rgba(237,87,209,1) 29%, rgba(234,40,103,0.7064950980392157) 47%, rgba(126,111,239,0.7289040616246498) 67%, rgba(250,255,0,1) 84%, rgba(128,0,255,1) 100%, rgba(15,205,244,1) 100%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.project-container{
    border-radius: 50px;
    display: flex;
    background: linear-gradient(to bottom right, #fff7fb, #fcf3f4, #f9ecfe,#ecf9ff);/*top left to bottom right*/
    width: 600px;
    margin-left: 350px;
    margin-top: 50px;
    transition: box-shadow 0.5s, transform 0.5s;

} 
.project-container:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transform: translateY(-2px);
  }

.project-img{
    margin: 20px;
    margin-left: 50px;
}
#pr-image{
    height: 150px;
    width: 200px;
    border: 1px solid #ffa5f3;
    transition: .2s ease;
    border-radius: 10px;
}
#pr-image:hover{
   transform: scale(1.09,1.09);
}
.project-title{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    color: rgb(247, 59, 159);
}
#python{
    margin-left: 30px;
    background: linear-gradient(to top left,rgba(247, 247, 18, 0.858) ,rgba(250, 250, 55, 0.808),blue,blue );
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.project-description{
    font-size: 13px;
    font-family: URW Chancery L, cursive;
    margin-top: 30px;
    margin-right: 10px;
}

.heading{
  margin-top: 8%;
  text-align: center;
  background: linear-gradient(to bottom, rgb(85, 18, 219), rgb(223, 42, 157));
  /* background: linear-gradient(to bottom  ,rgb(204, 153, 255), rgb(174, 7, 174),rgb(237, 99, 205),rgb(248, 137, 137)); */
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 500x;
  padding: 6px;
  background-image: linear-gradient(to top left, rgb(250, 230, 230), rgb(250, 243, 235), rgb(255, 238, 238), rgb(250, 241, 231));
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15), 0px 10px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  padding-left: 20px;
  margin-bottom: 20px;
}
.contact-content {
  order: 2;
  flex-direction: column;
  margin-top: 42px;
  padding: 10px;
  background-clip: text;
 
  
}
.contact-heading {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Diphylleia', serif;
  /* font-family: 'Deca', sans-serif; */
  background: linear-gradient(to top right, #7e30e4,#cf23cf, #44eedd, #f6b9e5);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 margin-bottom: 20px;
}
.contact-description {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: 'Diphylleia', serif;
  line-height: 1;
  margin-top: 16px;
  margin-bottom: 20px;
}
.social-links {
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-size: 20px;
  row-gap: 20px;
  margin-top: 5%;
}

.social-link {
  display: flex;
  align-items: middle;
  font-family: 'Jak', sans-serif;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
  row-gap: 10px;
}

.social-username {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #912bcc, #d84cb0);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-image {
  position: absolute;
  top: 6px;
  right: 4px;
  width: 150px;
  height: 150px;
  margin-top: 50px;
  margin-right: 20px;
  border-radius: 50px;
}
#mail{
  color: #00f;
}
#linkedin{
  color: rgb(34, 178, 244);
}
#whatsapp{
  color:rgb(18, 134, 18);
}
.about_container{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  font-size: 20px;
  /* font-family:'Times New Roman', Times, serif; */
 
}
.about_para{
  width: 500px;
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: 'Diphylleia', serif;
  color: rgba(20, 20, 20, 0.822);
  font-weight: bold;
  font-size: large;
  text-align: center;
}
.about_container span{
  text-align: center;
  font-weight: bolder;
  /* margin-top: 50px; */
  margin-bottom: 50px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
}

@media(max-width:400px){
  html,body{
    overflow-x: hidden;
  }
  .container{
    padding: 5px 9%; /*10*/
  }
  nav{
    width:300px;
  }
  
  .menu_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
  .menu_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* margin-left: 35px; */
}
  .menu_hamburger{
    width: 20px;
    height: 2px;
    background-color:#8e08a0;
    border-radius: 5px;
    z-index: 10;
    transition: all .5s ease;
    /* margin-left: 35px; */
  }
  .menu_hamburger::before,
  .menu_hamburger::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #8e08a0;
    border-radius: 5px;
    transition: all .5s ease;
}

  .menu_hamburger::before{
      transform: translateY(-6px);
  }

  .menu_hamburger::after{
      transform: translateY(6px);
  }
  .menu_items{
    /* display: none; */
    background:  #ffffff;
    color: #3c0b43;
    position: absolute;
    margin-left: 10%;
    padding: 5px 10%;
    /* left: 100%; */
    left: 200%;
    padding-top: 40px;
    top: 0;
    transition: all .5s ease-in-out;
}
.menu_items li{
  padding: 10px 0;
  text-align: center;
  list-style-type: none;
  transition: all .2s ease;
}

/* .menu_items li:hover{
  letter-spacing: 2px;
  opacity: .6;
} */
.menu_btn input:checked ~.menu_hamburger{
  transform: translateX(-50px);
  background: transparent;
}

.menu_btn input:checked ~.menu_hamburger::before{
  transform: rotate(45deg) translate(35px, -35px);
}

 .menu_btn input:checked ~.menu_hamburger::after{
  transform: rotate(-45deg) translate(35px, 35px);
} 

.menu_btn input:checked ~.menu_items{
  left: 40%;
  /* left: 30%; */
}
.menu_btn input{
  display: none;
}
/* .container2{
  padding: 10px;
} */
.header-text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.header-text h1 {
  margin-top: 40px;
  margin-left: 30px;
}
.header-text p {
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;/*20%*/ 
  text-align:center;
}
.img1{
  float:none;
  /* display: none; */
  margin: 0 auto;
  height: 200px;
  width: 200px;
   /* margin-left: 50%; */
  margin-top: 20px; 
}
#scroll-down {
  display: none;
}
#ex{
  margin-top: 150px; /*350*/
}
#ex-about{
  margin-left: 10%;
  margin-right: 10%;
}
.vertical {
  left: 8%; /*10*/
}
.web-dev-container {
  margin-top: 20%;
  margin-left:17% ; /*18*/
}
.python-dev-container {
  margin-top: 15%;
  margin-left: 17%;
}
.mysql-container {
  margin-top: 15%;
  margin-left: 17%;
}
.heading{
  margin-top: 120px;
}
.project-container{
  margin-left: 0px;
  width: 390px; /*400*/
}
.project-img{
  margin: 20px;
  margin-left: 12px;
}
#pr-image{
  height: 100px;
  width: 98px;
}
.project-title{
  font-size: 14px;
}
.project-description{
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 2px;/*comment*/
}
.contact-section {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 8%;
}
.contact-image {
  height:110px;/*130*/
  width:110px;
  margin-top: 10px;
}
.contact-description {
  font-size: 1rem;
  margin-top: 50px;
}
.about_para{
  width: 350px;
}
.about_container span{
  font-size: 18px;/*20*/
}
}
